header{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    
    background-color: #fff;
    border: 1px solid #DEDFE1;
    padding: 1.5rem;
    margin-bottom: 4rem;

    & ul{
        display: flex;
        gap: 1.5rem;

        & li{

            list-style: none;

            border: 1px solid #DEDFE1;
            border-radius: 8px;
            padding: 0.5rem;

            cursor: pointer;
        }
    }
}

.divisoria{
    height: 1px;
    background-color: #DEDFE1;
}

/* fundo para botões */


.button1{
    padding: 0.75rem 1.5rem 0.75rem 1.5rem ;

    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;

    background-color: #FEF1F2;
    color: #CD1515;
}

.button2{
    padding: 1.5rem 0.75rem 1.5rem 0.75rem ;

    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;

    background-color: #CD1515;
    color: white;
}

/* fim de fundo para botões */


/*titulo da coluna*/
.titulo-col{
    font-size: 14px;
    color: #4A505C;
}


/*fim do titulo da coluna*/

/* barra para organizar div */

.barra{
    width: 1px;
    height: 32px;
    background-color: #DEDFE1;
}

/* fim barra para organizar div */

/* tag ativado/desativado */

.ativado{
    display: flex;
    align-items: center;
    padding: 0px 4px;
    gap: 10px;

    border-radius: 4px;
    background-color: #EDFDF8;

    color: #08875D;
}