.content-header{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;
}

.tabela-administrador{
    display: flex;

    gap: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid #DEDFE1;

    & .status{
        display: flex;
        flex-direction: column;

        gap: 8px;
    }
}

