main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section*/
section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.logo{
    width: min-content;
    margin: 0 auto;
}
/*fim da section*/


/*Bem vindo*/
.bem-vindo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    width: 30vw;
}

.finalizar-sessao{
    display: flex;
}

/*fim bem vindo*/





/*Direcionamento*/


.direcionamentos{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 1.5rem;
    gap: 1.5rem;
    justify-content: center;
    
    width: 350px;
    height: 250px;

    border: 1px solid #DEDFE1;

    & img{
       width: min-content; 
    }

    & h3{
        width: max-content;
    }
}

/*fim de direcionamento*/





/*descrição sobre o aplicativo*/
.descricao{
    margin: 0 auto;
    text-align: center;

    width: 30vw;
}


/*fim descrição sobre o aplicativo*/